.container {
    margin-bottom: 100px;

}
.bg-carr {
    background-color: #fceae8;;
    border-radius: 10px;
}

.price {
    color: #ff136f;
}

.carousel-item {
    padding: 50px;
}

.btn-buy-now {
    background-image: linear-gradient(to bottom,#ff5898 0%,#ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1 {
    background-color: orange;
}

.cat2 {
    background-color: orchid;
}

.cat3 {
    background-color: lightblue;
}

.cat1,.cat2,.cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}

.categories h1 {
    color: white;
}

.categories img {
    width: 125px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}

.card-footer {
    background-color: white;
    border-top: none;
}